$background: #EEEEFF;
$nav_blue: #333355;

$cell_size: 34px;
$faint_nav_blue: #9999BB;
$board_background: #333344;
$board_filled: #666677;
$board_denied: #BCBCCD;
$board_blocked_denied: #DEDEEF;
$board_empty: #EFEFFF;

.game {
    background-color: $nav_blue;
    border-radius: 10px;
    color: $background;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    .board-entry {
        margin: 0 5px 5px 0;
    }

    .board-entry-spacer {
        margin: 0 10px 5px 0;
    }

    .board-row {
        margin: 0;
    }

    .board-row-spacer {
        margin: 0 0 5px 0;
    }

    .filled_square, .empty_square, .blocked_square, li {
        border: none;
        float: left;
        font-size: 24px;
        font-weight: bold;
        height: $cell_size;
        line-height: $cell_size;
        padding: 0;
        text-align: center;
        width: $cell_size;
    }

    .filled_square, .empty_square, .blocked_square {
        color: $board_filled;
        background: $background;
    }

    .filled_square, .empty_square {
        color: $nav_blue;
    }

    .blocked_square {
        background-color: $board_blocked_denied;
    }

    .filled_square {
        background-color: $board_filled;
    }

    .board-row, .board-row-spacer {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

    .game-board {
        margin: 1em;
        flex-grow: 10;
    }

    .game-info {
        color: $nav_blue;
        background-color: $background;
        border-radius: 10px;
        display: flex;
        font-size: 18px;
        font-weight: bold;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        line-height: $cell_size;
        margin: 1em;

        button {
            background-color: $faint_nav_blue;
            border: none;
            font-size: 18px;
            padding: 0;
            width: 96px;
            height: 34px;
        }

        div {
            margin: 0 auto;
            padding: 1em;
        }
    }

    .kbd-navigation .square:focus {
        background: #dddddd;
    }

    .top-hints {
        flex-direction: row;
    }
}
